@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom base styling */
body {
  @apply bg-white text-gray-800 font-sans;
}
html {
  scroll-behavior: smooth;
}
html, body, #root {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}
canvas {
  pointer-events: none;
}
